#mainHeader{
    background-color:rgba(245, 245, 220, 0.308) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 200px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#rubrik{
    font-family: "Jersey 10", sans-serif;
    font-size:60px;
    text-align: center;
}

#mainContainer{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-evenly;
    
}

.cardDiv{
    background-color: white;
    width: 200px;
    align-content: center;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Permanent Marker", cursive;
    font-weight: lighter;
}

.cardDiv:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 30px 40px 0 rgba(0, 0, 0, 0.50);
    transition: box-shadow 0.3s ease-in-out;
    width: 210px;
    height: 210px;
  }

#inProgressCont{
    background-color: aquamarine;
    font-family: "Jersey 10", sans-serif;
    width: 30%;
    text-align: center;
    display: inline-block;
    /* height: fit-content; */
}

#toDoCont{
    background-color: coral;
    font-family: "Jersey 10", sans-serif;
    width: 30%;
    text-align: center;
    display: inline-block;
    /* height: fit-content; */
}

#doneCont{
    background-color: khaki;
    font-family: "Jersey 10", sans-serif;
    width: 30%;
    text-align: center;
    display: inline-block;
    /* height: fit-content; */
}

#inProgressCont > .cardDiv {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#doneCont > .cardDiv {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#toDoCont > .cardDiv {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

.btn {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 5px;
    margin-top: 5px;
  }

  .btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }